*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    #050816,
    #070b1a,
    #000000
  );
  color: white;
}

/* Premium Dark Blue Theme */

body{
  background-attachment: fixed;
}

/* Scrollbar */

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #050816;
}

::-webkit-scrollbar-thumb{
  background: #FFC300;
  border-radius: 20px;
}

/* Selection */

::selection{
  background: #FFC300;
  color: black;
}
